.heroSection{
  height: 40svh;
  background-image: url(../../assets/Books-Library.png);
  box-shadow: inset  0 100svh rgba(0, 0, 0, 0.8);
  width: 100%;
  background-size: cover;
}

.loginTitle{
  margin-top: 25px;
  color: #D9176C;
}

.ourFeatures{
  display: none;
}