*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.product{
  display: flex;
}

.product-img img{
  object-fit: cover;
  transition: transform 0.3s ease;
  -webkit-transition: transform 0.3s ease;
  -moz-transition: transform 0.3s ease;
  -ms-transition: transform 0.3s ease;
  -o-transition: transform 0.3s ease;
}

.product-img img:hover{
  transform: scale(1.05);
}

.old-price{
  text-decoration: line-through;
}

.fav-btn:hover{
  background-color: #0d6efd !important;
  color: #fafafa !important;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.img-choices img{
  width: 8svw;
  margin-right: 10px;
}

.buttons{
  display: flex;
}

@media screen and (max-width: 786px) {
  .buttons{
    display: block;
    button{
      width: 100% !important;
      margin: 5px;
    }
  }
}

@media  screen and (max-width: 425px) {
  .product{
    display: block !important;
    margin: 1rem 0 1rem 0 !important;
    min-width: 90svw !important;
  }
  .product-img{
    width: 500px !important;
  }
  .img-face{
    width: 70svw !important;
    margin-left: 34px;
    margin-right: 34px;
  }
  .img-choices img{
    width: 26svw !important;
    margin-inline: 40px;
  }
  .buttons{
    display: block !important;
    button{
      width: 85svw !important;
      margin: 8px !important;
    }
  }
}