*{
  margin: 0;
}

.heroSection{
  height: 100svh;
  background-image: url(../../assets/Books-Library.png);
  box-shadow: inset  0 100svh rgba(0, 0, 0, 0.8);
  width: 100%;
  height: calc(100svh - 92px);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    h2{
      font-size: 42px;
      margin: 10px;
    }
    p{
      font-size: 24px;
      margin: 0;
    }
  }
}

section{
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F5F5F5;
  gap: 10px;
  h2{
    margin: 24px;
  }
  .missionCards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    .missionCart{
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 10px;
      background-color: #FFFFFF;
      padding: 22px;
      width: 22svw;;
      p{
        color: #22222280;
      }
      h3{
        color: #222222 !important;
      }
      a{
        color: #D9176C;
      }
    }
  }
}
