

.displayPhoto{
  margin: 30px;
  position: relative;
  img{
    width: 20svw;
    height: 33svh;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
}

.cartDetails{
  color: #FFFFFF;
  position: absolute;
  bottom: 2px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  p{
    margin: 0;
  }
}

@media screen and (max-width: 870px) {
  .displayPhoto{
    img{
      width: 23svw;
      height: 35svh;
    }
  }
}

@media screen and (max-width: 740px) {
  .displayPhoto{
    img{
      width: 40svw;
      height: 45svh;
    }
  }
}

@media screen and (max-width: 600px) {
  .displayPhoto{
    img{
      width: 100%;
      height: 55svh;
    }
  }
}