.input-task{
  border: none;
  outline: none;
}

.check-btn{
  width: 20px;
  height: 20px;
}

.check-btn:active{
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #0d6efd !important;
  transition: 0.1s;
  -webkit-transition: 0.1s;
  -moz-transition: 0.1s;
  -ms-transition: 0.1s;
  -o-transition: 0.1s;
}

.col button{
  background-color: transparent;
  border: none;
}

